%h1 Create User
= form_with url: users_path, model: @user, data: { turbo_method: :posts } do |f|
  = f.label :name, "Input Name"
  = f.text_field :name
  %br/
  = f.label :email, "Input Email"
  = f.email_field :email
  %br/
  = f.label :password, "Input Password"
  = f.password_field :password
  %br/
  = f.label :password, "Confirm Password"
  = f.password_field :password_confirmation
  %br/
  = f.radio_button :is_manager, :false
  = f.label :regular, "Regular"
  = f.radio_button :is_manager, :true
  = f.label :manager, "Manager"
  %br/
  = f.submit "Create User"
