<div id="<%= dom_id ticket %>">
  <p>
    <strong>Requester:</strong>
    <%= ticket.requester_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= ticket.subject %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= ticket.content %>
  </p>

</div>
