%div{:id => "#{dom_id ticket}"}
  %p
    %strong Requester:
    = ticket.requester_id
  %p
    %strong Status:
    = ticket.status
  %p
    %strong Subject:
    = ticket.subject
  %p
    %strong Content:
    = ticket.content
