!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title SimpleTicketSystem
		%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
		= csrf_meta_tags
		= csp_meta_tag
		= stylesheet_link_tag "application", "data-turbo-track": "reload"
		= javascript_importmap_tags
	%body.d-flex.flex-column.min-vh-100
		= render partial: 'layouts/header'
		.container-fluid.flex-grow-1.d-flex.flex-column.align-items-center.justify-content-center	
			= render partial: 'layouts/flash_messages'	
			= yield
