!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SimpleTicketSystem
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    - if flash[:notice]
      = content_tag :h3, flash[:notice]
    - elsif flash[:error]
      = content_tag :h3, flash[:error]
    = link_to "Sign out", sign_out_path, data: { turbo_method: :delete }
    = yield
