<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTicketSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <%= content_tag :h3, flash[:notice] %>
    <% elsif flash[:error] %>
      <%= content_tag :h3, flash[:error] %> 
    <% end %>
    <%= yield %>
  </body>
</html>
